[2021-04-02 00:19] dfreilich opened #3 "Add Go lib support (for Buildpacks)"
The [Cloud Native Buildpacks project](buildpacks.io) is considering adding support for notary v2, potentially in https://github.com/buildpacks/lifecycle when constructing images (either as part of our current phases, or as a new phase, depending on project decisions). As such, we will need Go lib support, in order to utilize it as part of the lifecycle.

[2021-07-07 02:35] SteveLasker opened #4 "Finalize referrers API path for RC1"
The current artifact manifest referrers api calls out [GET /v2/_ext/oci-artifacts/v1/{repository}/manifests/{digest}/referrers?n=10&artifactType={artifactType}](https://github.com/notaryproject/artifacts/blob/prototype-2/manifest-references-api.md#request-artifacts-of-a-specific-media-type)
This is a tracking issue to attempt to align with https://github.com/opencontainers/distribution-spec/pull/1

[2021-09-15 02:10] sajayantony opened #8 "Move to generic registry and client"
Opening this issue to track refactoring. We might not even need registry client and can be scoped to just the signature formats.

[2021-09-15 02:11] SteveLasker commented on #4
Closing, per https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md

[2021-09-15 02:11] #4 closed

[2021-09-15 02:11] sajayantony opened #9 "Implement updated signature format - JWS as per specification"

[2021-09-15 05:21] priteshbandi opened #10 "Tracking issue for pending feedbacks/Issues in PR5"
Tracking issue for multiple comments/issues that were called out in https://github.com/notaryproject/notation-go-lib/pull/5 and needs to be resolved.

[2021-10-01 06:10] priteshbandi opened #12 "Allow timestamping to be per signature configuration."
One signer implementation(like file-based one) can be reused by multiple organization. Some organizations might not want to timestamp signature because of availability concerns or something else but other might prefer to timestamp signature.
So there should be a way to for user to disable/enable time-stamping on per signature basis. One way to achieve is that only add timestamp when user explicitl

[2021-10-01 06:38] priteshbandi opened #13 "Add more validations for timestamp response"
We do need to add more validation for timestamp response to avoid MitM, replay, etc. attacks and also to be a compliant client. The validations are more from timestamp security and correctness perspective. If the timestamp signature is bad then it is of no use for users.

Haven't gone through complete rfc3161 but here are some notable mentions:
* MitM and replay attack: https://datatracker.ietf.or

[2021-10-01 06:45] priteshbandi opened #14 "Consider OpenSSL for signature generation and verification."
* We are using homegrown/custom implementation of pkcs7 for timestamp signature, should we consider using openssl?
* OpenSSl is FIPS compliant so we can offload crypto operations to openssl

[2021-10-08 02:50] priteshbandi commented on #10
@shizhMSFT Addressed all the comments in PR https://github.com/notaryproject/notation-go-lib/pull/11

[2021-10-08 04:13] #8 closed

[2021-10-13 07:33] priteshbandi opened #16 "Dont allow signer-provider or verification-provider to override the TSAVerifyOptions."
We don't want signer-provider or verification-provider to override the [TSAVerifyOptions](https://pkg.go.dev/crypto/x509#VerifyOptions) because then user can override this value and start using non time-stamping cert(like ssl) for time-stamping.

Also as per [rfc3161#section-2.3 ](https://datatracker.ietf.org/doc/html/rfc3161#section-2.3)
`The corresponding certificate MUST contain only one instan

[2021-10-14 06:50] shizhMSFT opened #17 "Verify JWS header content"
The content of JWS header is not verified including the `cty` and `crit` fields.
We need to verify those fields in case we have different types of payload.

[2021-10-18 17:50] iamsamirzon opened #19 "Release notation-go-lib-v0.7.0-alpha.1"
Proposing we release notation-go-lib-v0.7.0-alpha.1 as we have completed the milestone. Release process is defined here.

High level deliverables as as follows:

- [x]  Decide on main commit for release
- [ ] Cut branch named v0.7.0-alpha.1 based on agreed upon main commit
- [x]  Cut a tag named v0.7.0-alpha.1
- [ ]  Update README.md

/cc @SteveLasker @NiazFK @justincormack @sajayantony

Can the m

[2021-10-19 00:40] priteshbandi opened #20 "Match implementation with signature specification"
Match signature [implementation](https://github.com/notaryproject/notation-go-lib/blob/main/signature/jws/spec.go) to match [signature spec](https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md)

- [ ] Remove `signedAttributes` and use annotations for signed attributes.

[2021-10-19 00:47] sajayantony commented on #20
Once this has been merged. We need to update the notation CLI reference.

[2021-10-19 21:56] SteveLasker commented on #19
LGTM [6f3abd7](https://github.com/notaryproject/notation-go-lib/commit/6f3abd71b7a029bb28ac1f80cb4638e73ab3a4fe)

[2021-11-23 18:54] rchincha opened #22 "ci/cd: consider exporting some go routines so other projects can ci/cd against notation"
For example,

https://github.com/notaryproject/notation/blob/main/cmd/notation/cert_gen.go

[2021-11-30 01:28] SteveLasker opened #23 "Notation plug-in design / notation-go-lib integration"
Issue #22 surfaced an interesting question.
When using Notary v2 from a cli, we direct users to the notation repo and output
When using Notary v2 as a library, for use in other clis, how do we enable the notation plug-ins for specific key vault providers?

The current design enables users to install the notation cli and their desired plug-ins.
If someone uses the notation-go-lib to incorporate an

[2021-12-08 01:20] #12 closed

[2021-12-17 00:02] #16 closed

[2022-01-14 21:46] SteveLasker opened #25 "Refactor to use oras-go"
Once [oras.go 2.0-alpha.1](https://github.com/oras-project/oras/milestone/4) is released, update to use oras-go for registry calls.

[2022-01-26 01:50] shizhMSFT commented on #25
`notation-go-lib` does not deal with registries. Therefore, it will not use `oras-go`.

[2022-01-26 01:50] #25 closed

[2022-04-20 20:30] SteveLasker opened #33 "Rename notation-go-lib to notation-go"
Part of the cleanup and refactoring, including the creation of [notation-core-go](https://github.com/notaryproject/notation-core-go)

Please :+1: to confirm

[2022-04-20 20:30] SteveLasker commented on #33
👍

[2022-04-20 21:20] gokarnm commented on #33
👍

[2022-04-20 21:31] iamsamirzon commented on #33
Agree

[2022-04-21 04:40] shizhMSFT commented on #33
👍

[2022-04-22 00:05] SteveLasker commented on #33
:tada: done

[2022-04-22 00:05] #33 closed

[2022-04-23 04:13] dtzar opened #35 "Update Golang packages to proper names"
The golang packages should match the URL of the repository as well as the released tagged versions available in GitHub.

https://pkg.go.dev/github.com/notaryproject/notation-go-lib@v1.0.0-alpha-1?tab=importedby
Have dependencies on the repository.  1.0.0-alpha-1 doesn't exist as a release in the GitHub repository.

These two PRs will help fix a couple of the dependencies once there is a new releas

[2022-04-23 05:50] shizhMSFT opened #36 "Move code to `notation-core-go`"
As discussed in https://github.com/notaryproject/notation/discussions/160, all crypto code should be moved to [notation-core-go](https://github.com/notaryproject/notation-core-go). `notation-go` should depend on `notation-core-go` and should implement registry auth and registry interactions, including ORAS APIs, key config, trust store, trust policy, plugin interaction

[2022-04-25 18:23] dtzar commented on #35
I updated the PRs to reference the current commit on the main branch which does build.  This is still better than what we have now but is not ideal.  Ideally as mentioned we should have a proper release of **notation-go** which matches a release on main.

[2022-04-25 23:05] dtzar commented on #19
@iamsamirzon @SteveLasker - I believe this is complete now...

All this said - It would be great to discuss release strategy and document something for ongoing work.

[2022-04-26 00:17] iamsamirzon commented on #19
I concur with your David.

[2022-04-27 01:12] dtzar opened #38 "Release v0.8.0-alpha"
Since the library has been renamed to `notation-go` and there are other breaking changes, we need to have a new release of notary at a minimum to make golang package references work well.

/cc @SteveLasker, @justincormack, @sajayantony

Can the maintainers please respond with a +1 comment once you are in favor of cutting this release.

[2022-04-27 01:21] SteveLasker commented on #38
👍

[2022-04-27 01:24] SteveLasker commented on #38
Adding the release checklist:
- [ ] Decide on main commit for release
- [ ] Cut branch named `v0.8.0-alpha.1` based on agreed upon main commit
- [ ] Cut a tag named `v0.8.0-alpha.1`
- [ ] Update README.md

[2022-04-27 02:12] iamsamirzon commented on #38
+1

[2022-04-27 05:22] shizhMSFT commented on #38
Released [v0.8.0-alpha.1](https://github.com/notaryproject/notation-go/releases/tag/v0.8.0-alpha.1)!

[2022-04-27 05:22] #38 closed

[2022-04-27 05:24] shizhMSFT commented on #19
Closed as `v0.7.0-alpha.1` has been released.

[2022-04-27 05:24] #19 closed

[2022-04-27 16:14] dtzar commented on #35
Fixed now with v0.8.0-alpha.1 release.

[2022-04-27 16:14] #35 closed

[2022-05-19 21:21] rgnote opened #45 "Dependency on go-ldap"
We are using go-ldap for parsing Distinguished Names (DN) of a trust policy's `trustedIdentities`  field. Although we are using a single function from this library, this dependency is bringing bunch of additional dependencies unrelated to what notation does. We can remove the dependency and just copy the code that we need. But, we need to figure out a way to give attribution to `go-ldap`. Also, if

[2022-05-20 00:45] gokarnm commented on #45
@iamsamirzon @rgnote  should assign this to appropriate milestone in next planning community meeting.

[2022-05-26 23:22] dtzar opened #48 "New release v0.9.0-alpha.1"
Lots of important changes merged since v0.8.0 and should cut a new release.
Would like to just take what's on main now plus merge #44

- [x] Decide on main commit for a release
- [x]  Cut branch named `v0.9.0-alpha.1` based on agreed upon main commit
- [x] Cut a tag named `v0.9.0-alpha.1`

@SteveLasker @gokarnm @iamsamirzon @FeynmanZhou

[2022-05-26 23:48] iamsamirzon commented on #48
Thanks @dtzar   for driving a release of Notation/Notation-go. I am particularly interested in seeing this issue ( https://github.com/notaryproject/notation/issues/119) fixed in this next release. Refer discussion here https://github.com/notaryproject/notation/discussions/170

[2022-06-02 16:55] SteveLasker commented on #48
@iamsamirzon, would like to pull in -u, -p for ecr support.

[2022-06-06 19:42] zosocanuck opened #50 "Plugin not compliant error with test signature generation plugin"
I’m creating a test plugin that supports signature generation, however am getting this error:

`2022/06/06 00:17:51 generate-signature command failed: test-csp: failed to decode json response: plugin not compliant
`

Seems like it is having an issue with unmarshaling the plugin.GenerateSignatureResponse interface.  If I unmarshal similar to where I believe the [error](https://github.com/notaryproj

[2022-06-07 16:20] zosocanuck commented on #50
After debugging this some more it turns out I was accidentally printing out debug statements to stdout, thereby causing the json unmarshaling issues to crop up.  Removing these resolved the issue.

[2022-06-07 16:20] #50 closed

[2022-06-08 23:38] dtzar opened #52 "End to End Test Cases"
**Summary**
Automated Test Cases to be executed before every release for all APIs
**Intended Outcome**
A test suite is created over time and added iteratively over the lifetime of this project development
**Additional context**
The unit testing will be included in RC-1. The community met on 5/26 and made the decision to split this work as unit and end to end testing.

[2022-06-14 15:48] Wwwsylvia opened #57 "Some unit tests fail on Windows platforms"
Some unit tests in [store_test.go](https://github.com/notaryproject/notation-go/blob/main/verification/store_test.go) fail on Windows platforms, and the error message is like below:

    store_test.go:28: symlinks should return error : "Error while reading certificates from \"testdata\\\\trust-store\\\\trust-store-with-cert-symlinks\\\\GlobalSignRootCA_SYMLINK.crt\". Error : \"x509: malformed cert

[2022-06-15 16:31] rgnote commented on #57
https://github.com/notaryproject/notation-go/pull/58

[2022-06-15 16:33] rgnote opened #59 "Run synlink unit tests on Windows"
Currently, Trust Store unit tests are skipping symlink tests on Windows as Windows requires Admin permissions to create Symlinks. This issue is to identify a way to run symlink tests on Windows. More context : https://github.com/notaryproject/notation-go/pull/58

[2022-06-20 13:44] shizhMSFT opened #61 "Move `notation/pkg/registry` to `notation-go"

[2022-06-22 01:53] binbin-li commented on #61
Steps to move the directory:

1. Copy the directory to `notaryproject/notation-go`
2. Update the dependencies.
3. Remove the directory from `notaryproject/notation`
4. Update the import paths
5. Update the dependencies.

[2022-06-23 20:48] dtzar commented on #48
@iamsamirzon - I'd like to still cut this release but now that there has been a number of changes since the request (28 days ago), I think we should stick to committing it with the [version around this same date](https://github.com/notaryproject/notation-go/tree/fe1997f6c65f9015a8b9e9745e041edcb9e3dc9a) to help illustrate the cli and go library were working/tested together at this time (both 0.9.0

[2022-06-23 21:24] iamsamirzon commented on #48
Thanks @dtzar . That works.

[2022-06-24 00:38] dtzar commented on #48
Once someone approves/merges https://github.com/notaryproject/notation-go/pull/65 then I'll cut this release.

[2022-06-28 01:05] FeynmanZhou commented on #48
I think this issue does not rely on #65 , @shizhMSFT [explained the reason](https://github.com/notaryproject/notation-go/pull/65#pullrequestreview-1019275304) under that PR.

@dtzar Could you check if #65 is necessary for this release?

[2022-06-28 01:22] dtzar commented on #48
Yes, Shiwei's response makes sense.  I started to investigate alternative approaches to helping automate release notes.  I'm not going to hold up releasing this on the PR.

[2022-06-28 02:57] binbin-li opened #69 "Add unit tests to the registry submodule"
### What?

As we moved `registry` from the `notation` to `notation-go` https://github.com/notaryproject/notation-go/pull/63, unit tests are still missing for now. We need to add necessary tests to avoid breaking changes in the future.

[2022-06-29 00:42] dtzar commented on #48
v0.9.0-alpha.1 is released.

[2022-06-29 00:42] #48 closed

[2022-06-29 01:07] dtzar commented on #36
Assigning it per what is listed in the spreadsheet.  I couldn't assign to @rgnote for some reason.

[2022-06-30 05:48] yizha1 opened #70 "Implementing signature filter"
Summary

Implementing signature filter according to "Filter signature artifact manifest" documented in https://github.com/notaryproject/notaryproject/blob/main/signing-and-verification-workflow.md#verification-steps

Intended Outcome

Signature filter works as described in "Filter signature artifact manifest"

Additional context

[2022-06-30 10:28] FeynmanZhou commented on #70
This implementation request has been added to the [Notary planning board](https://github.com/orgs/notaryproject/projects/10/views/6). Let's see who who will be interested in picking it up.

[2022-06-30 16:05] FeynmanZhou opened #71 "Support push and pull signature"
As [Notation verification workflow](https://github.com/notaryproject/notaryproject/blob/main/signing-and-verification-workflow.md#verification-workflow) defined, Notation will support push and pull through the SDK capability of ORAS-go. It means notation-go has dependencies on the ORAS-go library.

Currently, we are working on these two dependencies https://github.com/oras-project/oras-go/issues/1

[2022-07-06 18:11] rgnote opened #74 "Support TSA trust stores in trust policy"
See https://github.com/notaryproject/notation-go/pull/72#discussion_r914513445

[2022-07-06 18:14] rgnote opened #75 "Upgrade to go 1.18"

[2022-07-07 17:08] shizhMSFT commented on #71
`oras-go rc.1` is released. We can start work this issue.

[2022-07-07 17:08] shizhMSFT commented on #70
`oras-go rc.1` is released. We can start work this issue.

[2022-07-08 05:17] priteshbandi opened #78 "Reenable timestamping for signing and verification"
As part of #77(Refactor to use notation-core-go's SignatureEnvelope), we disabled time-stamping support for signing and verification workflows.

**Action Required:**
1. Implement timestamping support in notation-core-go.
2. Enable timestamping support for signing and verification workflows in notation-go.
3. Review verify TSA code which includes CMS parsing and verification. This code was included

[2022-07-11 09:16] #75 closed

[2022-07-11 22:03] priteshbandi opened #80 "Tracks multiple TODOs in signature package"
- [x] include external signing plugin's name and version in signing agent.
- [x] Verify plugin didnot add any additional top level payload attributes.
- [x] Add tests for this method. NewSignerFromFiles

https://github.com/notaryproject/notation-go/pull/77

The associated Linked PullRequest - https://github.com/notaryproject/notation-go/pull/178

[2022-07-11 22:36] rgnote opened #81 "Support signing and verifying tag references"
Currently, notation supports signing and verifying digest references only.

[2022-07-13 19:46] priteshbandi commented on #17
Fixed as part of https://github.com/notaryproject/notation-core-go/pull/7

[2022-07-13 20:02] iamsamirzon commented on #36
@iamsamirzon  - Checked with @rgnote on 7/13/2022. This is completed except for Timestamping, which is being tracked separately.

[2022-07-13 23:53] rgnote opened #82 "Implement Custom Signature Verification Level"
Spec https://github.com/notaryproject/notaryproject/pull/164

[2022-07-13 23:55] rgnote opened #83 "Implement defining multiple trust stores in a trust policy"
Spec https://github.com/notaryproject/notaryproject/pull/164

[2022-07-14 00:00] rgnote commented on #83
Implemented in https://github.com/notaryproject/notation-go/commit/3d22fbc121a57f1fdb4c29c57997bf7b6a87aa0d

[2022-07-14 00:40] rgnote commented on #82
Implementation https://github.com/notaryproject/notation-go/pull/84

[2022-07-14 16:21] iamsamirzon commented on #17
closing with the note above

[2022-07-14 16:21] #17 closed, assigned to priteshbandi

[2022-07-18 18:08] iamsamirzon commented on #83
@rgnote - Can this issue be closed, because this PR covers it? in https://github.com/notaryproject/notation-go/pull/85

[2022-07-18 18:14] iamsamirzon commented on #81
@rgnote  - Is this issue in relation to this roadmap item? https://github.com/notaryproject/roadmap/issues/61. If so there is already an issue in Notation for it. https://github.com/notaryproject/notation/issues/194.

Is this issue in "notation-go" to do some of the implementation.

[2022-07-18 19:56] iamsamirzon commented on #74
@rgnote   - Can we close this?

[2022-07-19 21:39] dtzar commented on #71
This I believe we're deciding is not set until RC-2 per the linked user stories which we discussed on the last community call:
https://github.com/notaryproject/notation/issues/245
https://github.com/notaryproject/notation/issues/246

[2022-07-21 23:33] dtzar commented on #70
Agreed we can move this past RC-1 on the community call 7/21.

[2022-07-22 06:40] patrickzheng200 opened #88 "Remote signature envelope digest should be resolved as Blob instead of Manifest"
This issue is paired with Notation issue [#258](https://github.com/notaryproject/notation/issues/258).

[2022-07-26 06:20] JeyJeyGao opened #91 "notation-go config package"
[notation config](https://github.com/notaryproject/notation/tree/main/pkg/config) is a package for notation-go configuration, so it should be migrated to notation-go repo. Also, according to [directory structure spec](https://github.com/notaryproject/notation/blob/main/specs/directory.md) signingkeys related configuration should be moved out of `config.json` file to be a `signingkeys.json` file.

[2022-07-26 06:21] JeyJeyGao commented on #91
Junjie Gao is working on this issue.

[2022-07-26 08:29] junczhuMSFT opened #93 "Migrate to codecov.io"
Apply [notatryproject/notation#267](https://github.com/notaryproject/notation/issues/267) to notation-go

[2022-07-28 04:50] #93 closed

[2022-07-28 04:56] #88 closed

[2022-07-28 16:09] rgnote opened #95 "Implement Verification Plugin Spec"
Plugin Spec : https://github.com/notaryproject/notaryproject/pull/165

[2022-08-03 07:42] shizhMSFT opened #99 "Shift Go Support Window to [1.18, 1.19]"
[Go 1.19](https://go.dev/blog/go1.19) is released with [release notes](https://go.dev/doc/go1.19)!

It is time to shift the window for go support to `[1.18, 1.19]` by updating

- `go. mod`
- GitHub Actions via [notation-core-go](https://github.com/notaryproject/notation-core-go)

[2022-08-03 23:57] #82 closed

[2022-08-07 15:53] rgnote commented on #95
https://github.com/notaryproject/notation-go/pull/101

[2022-08-08 15:29] rgnote opened #102 "Implement Semantic Versioning"
Notary V2 uses [SemVer](https://semver.org/) for plugin versioning. See [spec here](https://github.com/notaryproject/notaryproject/blob/c4400ebb2da98bce89e66cc8fadeddae564e2b61/signature-specification.md?plain=1#L153-L156)
At the time of writing this issue, Golang has no standard library support for parsing or comparing SemVer strings. This issue is to track implementing SemVer in Notation if no a

[2022-08-09 19:04] #69 closed

[2022-08-10 21:55] gokarnm commented on #78
@shizhMSFT I update the scope in the issue description as discussed earlier.

[2022-08-11 14:37] iamsamirzon opened #109 "Release a new version of Notation-go libraries"
It's time to release a new version for Notation-go repo

- [x] Decide on main commit for this release
- [x] Decide on a tag name for this release
- [x] Cut branch named with the tag name based on agreed upon main commit
- [x] Cut a tag

@gokarnm @iamsamirzon @dtzar @SteveLasker @FeynmanZhou @shizhMSFT @yizha1 @vaninrao10

[2022-08-11 21:02] rgnote opened #110 "Perform X509 revocation check in signature verification"
Signature verification needs to perform x509 revocation check (CRL/OCSP) and fail if a certificate in the chain is revoked.

See https://github.com/notaryproject/notaryproject/blob/main/trust-store-trust-policy-specification.md#certificate-revocation-evaluation

[2022-08-13 01:38] yizha1 commented on #109
@vaninrao10 @iamsamirzon there are dependencies among three repos under notaryproject. notation CLI depends on notation-go, and notation-go depends on notation-core-go. So, the release process looks like this:

- Release library notation-core-go
- Update go.mod in notation-go for notation-core-go dependency
- Release library notation-go
- Update go.mod in notation CLI for notation-go dependency
-

[2022-08-17 03:56] yizha1 commented on #109
This PR needs to be merged for updating the dependencies:
- https://github.com/notaryproject/notation-go/pull/112

[2022-08-18 02:19] yizha1 commented on #109
use version v0.10.0-alpha.3

[2022-08-18 05:50] yizha1 commented on #109
notation-go released, https://github.com/notaryproject/notation-go/tree/v0.10.0-alpha.3, this issue can be closed soon.

[2022-08-18 17:45] #109 closed

[2022-08-21 07:05] iamsamirzon opened #116 "Resolve bug in oras-go to enable interop with OCI compliant registries like ECR"
As a user of Notation I want to use it to push and pull signatures from ECR.

- [ ] https://github.com/oras-project/oras-go/issues/225 , blocks the above.

Notation open source maintainers will work with ORAS-go maintainers to resolve the above issue, and release a new version of oras-go client, that Notation can use. Likely v2.0.0-rc.3 Milestone ( [refer v2.0.0-rc.3](https://github.com/oras-proje

[2022-08-21 07:07] iamsamirzon commented on #116
@vaninrao10  - Assigning this to you to help track progress

[2022-08-21 07:10] iamsamirzon commented on #95
Closing this issue as the corresponding PR has been merged.

- [ ] https://github.com/notaryproject/notation-go/pull/101

[2022-08-21 07:10] #95 closed

[2022-08-22 02:49] yizha1 commented on #23
closed by #37

[2022-08-22 02:49] #23 closed

[2022-08-22 14:00] yizha1 commented on #3
@dfreilich This issue has been open for a long time. There are two repos of go libraries for notary v2 now. Could you check whether it meets your requirement?
- https://github.com/notaryproject/notation-go/
- https://github.com/notaryproject/notation-core-go/

[2022-08-24 08:01] shizhMSFT commented on #91
Closed by #90

[2022-08-24 08:01] #91 closed

[2022-08-24 09:09] shizhMSFT commented on #102
@rgnote Golang has standard library support for parsing and comparing SemVer strings. Those libraries are live in the `go mod` repo (see [github.com/golang/mod](https://github.com/golang/mod)) where the semver package is available [here](https://pkg.go.dev/golang.org/x/mod/semver).

[2022-08-25 08:01] yizha1 commented on #57
Closed by #58

[2022-08-25 08:01] #57 closed

[2022-09-02 02:55] JeyJeyGao commented on #99
I will work on this task.

[2022-09-09 03:37] #99 closed

[2022-09-13 05:41] yizha1 opened #136 "Notation-go supporting OCI reference type"
`Notation-go` depends on `ORAS-go` to support OCI reference type. The `ORAS-go` work item is tracked here at https://github.com/oras-project/oras-go/issues/271. Besides the update in `ORAS-go`, this issue tracks any other tasks of `notation-go` to support OCI reference type.

[2022-09-13 05:45] rgnote commented on #102
@shizhMSFT Couple of issues with `x/mod`

1. It requires versions to be prefixed with `v`
2. Allows partial strings such as `1`, `1.0`, etc.

We may need to write a wrapper around it to make it work with Notation.

[2022-09-14 23:44] etrexel opened #143 "Using Verifier without a repository"
Hello Notation Maintainers,

We have been using [notation-go v0.8.0-alpha.1](https://github.com/notaryproject/notation-go/tree/v0.8.0-alpha.1) for notaryv2 signature validation in the [ratify](https://github.com/deislabs/ratify) project. As part of https://github.com/deislabs/ratify/issues/274 we have been looking at updating to [notation-go v0.10.0-alpha.3](https://github.com/notaryproject/notati

[2022-09-15 00:33] shizhMSFT commented on #143
@FeynmanZhou @yizha1 This is related to https://github.com/notaryproject/roadmap/issues/15.

/cc @patrickzheng200 @gokarnm @priteshbandi

[2022-09-16 03:04] JeyJeyGao opened #144 "directory structure needs to isolate `read` and `write` path"
As current design, when system level directory has the config file while user level directory doesn't have the config file, it uses the system level config file for read and write.

It is necessary to allow the user to know that whether the write path is user level or system level, so we need to:
1. isolate `read` /`write` path
2. provide the ability to select `user`/`system` level directory to wr

[2022-09-19 20:34] vaninrao10 commented on #116
This was checked in and ( [refer v2.0.0-rc.3] is available.

[2022-09-19 20:34] #116 closed

[2022-09-20 06:07] FeynmanZhou commented on #143
I think we should clarify the target and expected date for resolving this issue. May I know the ETA date of Ratify v1.0.0 Beta? @dtzar @etrexel

- As Notation had a plan (https://github.com/notaryproject/roadmap/issues/15) to support local signing, which will solve this issue and deliver an end-to-end user experience with CLI and Go SDK after RC.1 (Maybe we need to prioritize this plan to RC.2).
-

[2022-09-21 23:41] yizha1 commented on #78
Based on the community discussion, move this issue out of rc.1 scope

[2022-09-21 23:52] dtzar commented on #143
I suggest we prioritize the local sign/verify user story as a high priority after RC.1 and release a point-release just for notation-go so ratify and other can utilize it.

[2022-09-26 03:42] chloeyin opened #154 "Adding Notary v2 payload validation"
Currently, `notation-go` and `notation-core-go` don't validate the content type of the payload as described in the [spec](https://github.com/notaryproject/notaryproject/blob/main/signature-specification.md#payload). As discussed in the https://github.com/notaryproject/notation-go/pull/131#discussion_r979508855, create an issue here to discuss if we need to do the validation.

[2022-10-03 22:18] vaninrao10 commented on #13
As per the meeting note on sep, 19th "https://hackmd.io/_vrqBGAOSUC_VWvFzWruZw?view#Sep-19-2022 " this will be moved to RC-2 similar to https://github.com/notaryproject/roadmap/issues/59

[2022-10-11 05:22] yizha1 opened #164 "Release a new version of notation-go library"
- [ ] Decide on main commit for this release
   - Commit: e2ae1fe

- [ ] Update dependencies in `go.mod`
   - `notation-core-go` from `v0.1.0-alpha.3.0.20220929020818-b5df54c7465b` to `v0.1.0-alpha.4`
- [ ] Decide on a tag name for this release
   - Tag name: `v0.11.0-alpha.4`
- [ ] Cut branch named with the tag name based on agreed upon main commit
- [ ] Cut a tag

@iamsamirzon @vaninrao10 @prite

[2022-10-12 02:06] yizha1 commented on #164
With the PR of bump dependencies merged, the main commit for this release is https://github.com/notaryproject/notation-go/commit/3d8de5f05facb36c97df60de6e49c936e5ac6b41

[2022-10-13 16:43] dtzar commented on #81
This is already completed.

[2022-10-13 16:43] #81 closed

[2022-10-17 23:57] priteshbandi commented on #143
I think the ask here is to expose a public function (like processSignature) that takes signature and TS/TP as input and performs signature verification without making any call to registry.
This can be done via small refactoring.

[2022-10-18 01:00] rgnote commented on #143
@etrexel

The new [Verifier](https://github.com/notaryproject/notation-go/blob/v0.10.0-alpha.3/verification/verifier.go#L27) accepts an interface to [Repository](https://github.com/notaryproject/notation-go/blob/3f1301e307387d5b5420e51aa0c18b766c8d206d/registry/interface.go#L23)

You can achieve your goals by implementing a local `Repository` that returns your pre-fetched signatures. You will have

[2022-10-18 02:27] binbin-li commented on #143
@rgnote Thanks for your suggestion. But it might not be a good short-term workaround to Ratify. It seems a lot of boilerplate for functionality from notation-go. Also we need a ton of refactoring in Ratify to support it. Since Ratify is not in a hurry to use the new verifier, I feel we can wait for a fully support of offline verification from notation-go. @etrexel please correct me if I'm wrong.

[2022-10-21 18:50] rgnote commented on #143
@binbin-li

This suggestion is not a short-term workaround. We implemented the new Verifier with Repository interface just to support usecases like Ratify's. Implementing a local Repository with pre-fetched signature doesn't require a ton of boilerplate. All Ratify needs to do is have a bare minimum Repository implementation that passes the pre-fetched signature to Verifier, which can be done unde

[2022-10-25 05:26] yizha1 commented on #144
@shizhMSFT  @JeyJeyGao  Can we close this issue since there is no requirement to support "system" level directory.

[2022-10-25 06:30] #144 closed

[2022-10-30 13:08] yizha1 opened #176 "Release a new version of notation-go library"
- [x] Decide on main commit for this release
- [x] Update dependencies in go.mod
- [x] Decide on a tag name for this release
- [x] Tag name: v0.12.0-beta.1
- [x] Cut a tag

/cc @dtzar @FeynmanZhou @iamsamirzon @vaninrao10 @shizhMSFT

[2022-11-01 06:03] yizha1 commented on #176
- [ ] Bump up notation-core-go version in go.mod to `v0.2.0-beta.1`

[2022-11-02 05:31] priteshbandi commented on #176
https://github.com/notaryproject/notation-go/releases/tag/v0.12.0-beta.1

[2022-11-02 05:31] #176 closed

[2022-11-03 14:14] FeynmanZhou commented on #136
https://github.com/oras-project/oras-go/issues/271 is completed in ORAS-go v2.0.0-rc.4 and it was released. I think we should update the milestone from `Discuss` to `RC-1` and bump the ORAS-go dependency in RC-1 this month.

[2022-11-04 22:06] vaninrao10 opened #193 "Deadcode cleanup improvement Notation-Go"

[2022-11-07 14:13] JeyJeyGao opened #187 "plugin output size limitation"
The plugin is an external binary which may generate very large command line output and will be loaded to memory by notation-go library.
Do we need a plugin output size limitation?

[2022-11-08 03:54] FeynmanZhou opened #189 "doc: provide API documentation and API architecture diagram for notation-go"
Currently, notation-go is [refactoring its interface and architecture](https://hackmd.io/nAV5ipF1TKyxFdrO7_75Mg) and evolving into a generic Golang library.

Developing a generic and extensible library is also critical for other projects to consume Notation API and extend the Notation ecosystem. Take this [falcoctl sign and verify commands](https://github.com/falcosecurity/falcoctl/issues/174) as

[2022-11-08 04:00] FeynmanZhou commented on #189
cc @JeyJeyGao @patrickzheng200 @shizhMSFT @priteshbandi @vaninrao10 @yizha1

[2022-11-08 10:30] FeynmanZhou commented on #193
Transferred this issue from the Notation repo to Notation-go due to this is related to the Notation-go library work items.

[2022-11-08 19:48] vaninrao10 commented on #189
I 100% agree with this. LGTM

[2022-11-08 21:02] jondonas opened #194 "Unit test payload attribute validation"
TODO: add detail

[2022-11-09 08:44] patrickzheng200 opened #195 "notation-go registry ListSignatures casting oras registry.Repository to registry.ReferrerFinder"
This should be removed when oras-v2.0.0-rc.5 is released. Created this issue to track it.

[2022-11-11 06:15] priteshbandi opened #197 "During verification use signature filtering"
Callout: we haven't implemented signature filtering https://github.com/notaryproject/notaryproject/blob/main/specs/signature-specification.md#signature-filtering

_Originally posted by @priteshbandi in https://github.com/notaryproject/notation-go/pull/191#discussion_r1019861707_

[2022-11-11 06:18] priteshbandi opened #198 "Unlike verify, for notation inspect process all signatures"
Are we returning from verification on the first successful signature here? We wanted to process all signatures so that `notation inspect` command can show details of each signature. Similar to `signtool.exe` showing all signatures rather than just until a good signature.

_Originally posted by @rgnote in https://github.com/notaryproject/notation-go/pull/191#discussion_r1019253106_

[2022-11-11 21:12] priteshbandi opened #201 "Using timeout as the restricting mechanism fo signature verification"
had a discussion with @gokarnm on this and he suggested using timeout as the restricting mechanism which sounds more appt here.

We should also modify the `VerificationOutcome` behavior to return only successful signature verification outcome.

cc: @shizhMSFT @rgnote

_Originally posted by @priteshbandi in https://github.com/notaryproject/notation-go/pull/191#discussion_r1020561369_

[2022-11-11 21:14] priteshbandi commented on #201
The idea here is to have a configurable default timeout for verify command and once we have reached that limit and havent found successful verification we will fail verification command.

[2022-11-11 21:49] priteshbandi commented on #201
Also, we might want to pull in https://github.com/notaryproject/notation-go/issues/197 to RC1 which would provide cushion for verification timeout

[2022-11-12 02:34] shizhMSFT commented on #201
The default timeout is hard to decide as we also need to consider network and CPU constraints. Basically, clients with better network and CPU power can verify more signatures and thus can further process the artifacts. Therefore, the verification result of artifacts is not deterministic if two clients verify the same artifact at the same time even the remote server returns the same response. It im

[2022-11-12 06:49] patrickzheng200 commented on #201
@shizhMSFT @priteshbandi in terms of only returning successful outcome, the change is included in PR #186 along with the refactoring of the verifier package. PTAL.
As for issue #197, I think we could create a new PR for it after the refactoring work of notation-go is done.

[2022-11-14 06:42] yizha1 commented on #201
My two cents:

https://github.com/notaryproject/notation-go/pull/186#discussion_r1021105313

[2022-11-14 08:43] patrickzheng200 opened #203 "Add set data structure at internal/container/set"
Created an issue to track this.

[2022-11-14 08:46] patrickzheng200 opened #204 "Replace strings.Index() with strings.Cut()"
Scan all code to replace
[code]
with `strings.Cut()`

[2022-11-14 11:07] shizhMSFT commented on #203
Originally post at https://github.com/notaryproject/notation-go/pull/186/files#r1021153817

[2022-11-14 11:07] shizhMSFT commented on #204
Original post at https://github.com/notaryproject/notation-go/pull/186/files#r1021155308

[2022-11-15 00:34] priteshbandi commented on #197
As per discussions on 11/14/2022 meeting, punting this to post Rc-1

[2022-11-15 02:03] yizha1 commented on #201
Per community discussions:
- `notation-go` supports both options: `timeout for verification` and `Max Signature Attempts`
- No default values configured in `notation-go` library. Requiring notation CLI or other library user to pass the values into the library
- Need further alignment on the notation CLI default behavior, like what is the default option, what is the default value, and how user can

[2022-11-15 06:45] patrickzheng200 commented on #204
I will take this one.

[2022-11-15 06:45] patrickzheng200 commented on #203
I will take this one.

[2022-11-16 06:30] shizhMSFT opened #205 "Refine constructors of package `verifier`"
#186 has refactored the package `verifier` according to [this design](https://hackmd.io/nAV5ipF1TKyxFdrO7_75Mg?view) where the constructors of `notation.Verifier` are
[code]

However, the constructor APIs do not match the original design. The constructors should be updated to
[code]
to match the original design where `New()` --> `NewFromConfig()`, `NewVerifier()` --> `New()`.

Note: The API naming

[2022-11-16 06:36] patrickzheng200 commented on #205
Got it. Will make the change today.

[2022-11-16 06:40] shizhMSFT commented on #205
Here's the diagram to help understanding.
[code]

[2022-11-16 06:42] shizhMSFT commented on #205
Please also note that the `plugin.Manager` can be `nil` but `*trustpolicy.Document` and `truststore.X509TrustStore` MUST NOT be nil.

[2022-11-17 03:25] #205 closed

[2022-11-17 07:00] patrickzheng200 commented on #143
After the refactoring work of notation-go, this issue is resolved. Closing it.

[2022-11-17 07:00] #143 closed

[2022-11-18 03:20] patrickzheng200 commented on #136
Closing this issue since the notation-go refactoring work resolved it.

[2022-11-18 03:20] #136 closed

[2022-11-18 13:00] #195 closed

[2022-11-18 16:27] vaninrao10 commented on #201
Define the CLI behavior and defaults in RC1 and implementation can be moved to RC2. The scenarios to be addressed will be as shown below but this is not the exhaustive list, but can be thought through more about it.
1. What will happen if user specify only timeout? Will they still be restricted by number of signatures?
2. What will happen if user specify only max number of signature? Will they sti

[2022-11-22 03:14] patrickzheng200 opened #212 "Behavior of VerifyOptions.MaxSignatureAttempts"
This issue tracks the behavior of VerifyOptions.MaxSignatureAttempts during notation.Verify(). As of 11//22/2022, we will have the following logics:

1. Default of VerifyOptions.MaxSignatureAttempts is 0, when a user decides to use default, notation.Verify() would verify unlimited number of signatures associated with the artifact.
2. User gives a positive number to VerifyOptions.MaxSignatureAttemp

[2022-11-22 03:28] yizha1 commented on #201
This issue will be split to three issues
- Keep current issue for the `timeout` solution
- Create a new issue for the `maximum number of signatures` solution.
- Create a new issue for VerificationOutcome behavior.

[2022-11-22 07:02] yizha1 opened #214 "Define the behavior of VerificationOutcome"
**Summary**
This is left over from https://github.com/notaryproject/notation-go/pull/191#discussion_r1018917400, but focus on the behavior of `VerificationOutcome`. Currently it contains the only successful signature verification outcome, how about the failure outcome? As an API user, if no failure outcome is returned, how user can troubleshoot the failure of verification. Will this structure be c

[2022-11-22 07:24] yizha1 commented on #52
unit test on API level was done by `notation-go` refactoring.

[2022-11-22 07:24] #52 closed

[2022-11-22 16:38] priteshbandi commented on #212
Should we use 0 and -ve to default for unlimited or user can pass `math.MaxInt64` ?

[2022-11-23 06:26] patrickzheng200 commented on #212
Closed this issue since we decided to not make change to current behavior in notation-go. In notation CLI, we will pass in a larger number such as `math.MaxInt64` as unlimited.

[2022-11-23 06:26] #212 closed

[2022-11-23 06:27] #204 closed

[2022-11-23 06:39] #203 closed

[2022-11-23 07:42] patrickzheng200 opened #215 "Checking the media type after fetching the blob is slow"
The performance of this check is slow since it checks the media type after fetching the blob.
`if len(remoteOpts.SignatureMediaTypes) != 0 && !slices.Contains(remoteOpts.SignatureMediaTypes, sigDesc.MediaType)`

_Originally posted by @shizhMSFT in https://github.com/notaryproject/notation-go/pull/208#discussion_r1030094971_

[2022-11-23 18:37] vaninrao10 commented on #74
Linked to https://github.com/notaryproject/notation-go/issues/74

[2022-11-23 20:53] priteshbandi commented on #13
Removing RC2 milestone as its been tracked in parent issue https://github.com/notaryproject/roadmap/issues/59

[2022-11-23 21:35] priteshbandi commented on #197
Tracking the issue in https://github.com/notaryproject/notation-go/issues/70

[2022-11-23 21:35] #197 closed

[2022-11-25 00:52] patrickzheng200 commented on #215
Closing this issue since we decided to remove this logic in RC-1. If we decide to bring it back in RC-2 we should re-open this issue.

[2022-11-25 02:33] patrickzheng200 opened #217 "Proposal: Add `SignatureMediaTypes` array to `RemoteVerifyOptions` in `notation.Verify()`"
Created this issue to track adding SignatureMediaTypes array to RemoteVerifyOptions.
Proposed behavior:
1. When SignatureMediaTypes is empty, i.e. left by user as default, all signature media types will be processed by notation.Verify().
2. When set by user, only process signature media type(s) contained in the array.

One reason to do so is that a certain signature media type with version v1 migh

[2022-11-27 04:16] zosocanuck opened #220 "Plugin error handling"
Hi,

I'm testing a plugin prototype (based on [notation-azure-kv](https://github.com/Azure/notation-azure-kv)) that will implement signature generator however when it comes to error handling I seem to be only obtaining the following generic error:

`Error: describe-key command failed: xyz-plugin: ERROR: failed to decode json response: plugin not compliant`

In cmd/xyz-plugin main.go I have:

[code